* {
    box-sizing: border-box;
}

:root {
    --header-gb: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-weight: 300;
}
/* ================= COMMON ================= */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    text-align: center;
    border-radius: 99px;
    color: #fff;
    background: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: var(--header-gb);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    max-width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.section-controls {
    display: flex;
    column-gap: 18px;
}

.section-control-btn {
    --color-btn: #575f66;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-btn);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--color-btn);
    background: #fff;
    transition: 0.25s;
    cursor: pointer;
}

.section-control-btn:hover {
    color: #fff;
    background: #2e80ce;
    border-color: #2e80ce;
}
/* ================= HEADER ================= */
.header {
    min-height: 100vh;
    background: var(--header-gb);
    padding-top: 30px;
}

/* ==== HEADER-TOP ==== */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 6px;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header-action__login,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    padding: 4px 21px;
}

.navbar__link--action,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--action::before {
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signin {
    --height: 44px;
    min-width: 104px;
}

/* ==== HERO ==== */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: right;
}

.hero__image:first-child {
    position: relative;
    right: -6px;
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
}

.hero__image:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
}

/* ================= SERVICE ================= */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__images {
    display: flex;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
    background: lightgray 0px -1.3px / 100% 149.93% no-repeat;
}

.service-item {
    display: flex;
    padding: 22px;
    width: 470px;
    transition: all 0.25s ease 0s;
    border-radius: 10px;
    background: #fff;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--header-gb);
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service-item__icon {
    color: #ffffff;
    background: #2e80ce;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: var(--header-gb);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.service__btn {
    margin-top: 55px;
}

/* ================= WORK ================= */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border-radius: 4px;
    padding: 44px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    color: var(--header-gb);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
    margin-top: 18px;
}

.work-item__more,
.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.work-item__desc {
    margin-top: 28px;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
}

.work-item:hover .work-item__more {
    color: #2e80ce;
    font-weight: 400;
}

/* ================= FEATURE ================= */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__row {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    background: lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
    background: lightgray 50% / cover no-repeat;
}

.feature__cta {
    margin-top: 38px;
}

/* ================= MEMBER ================= */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__btn {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
    column-gap: 30px;
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
    background: #eaf6ff -153.123px -52.895px / 208.148% 188.038% no-repeat;
    transition: 0.25s;
}

.member-item__name {
    color: var(--header-gb);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 12px;
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.member__controls {
    justify-content: center;
    margin-top: 38px;
}

/* ================= INSTALL ================= */
.install {
    padding: 180px 0 85px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: #2e80ce;
    padding: 0 70px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    background: transparent -238.818px -60.273px / 267.943% 129.736% no-repeat;
    margin-top: -95px;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__desc {
    max-width: 586px;
}

.install__row {
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin-top: 38px;
}

/* ================= NEWS ================= */
.news {
    padding: 85px 0;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__cta {
    display: inline-block;
    color: var(--header-gb);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-top: 28px;
}

.news__controls {
    margin-top: 28px;
}

.news__list {
    display: flex;
    max-width: 570px;
    column-gap: 30px;
}

.news-item {
    flex: 1;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    background: lightgray -2px -4.032px / 100.741% 104.688% no-repeat;
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
}

.news-item__body {
    padding: 24px 24px 16px;
    border: 1px solid #e8ebee;
    border-radius: 0 0 12px 12px;
    border-top: none;
    background: #fff;
    transition: 0.25s;
}

.news-item:hover .news-item__body {
    border-color: transparent;
}

.news-item__heading {
    color: var(--header-gb);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63; /* 162.5% */
}

.news-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
    margin-top: 10px;
}

.news-item__more {
    display: block;
    color: var(--header-gb);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}
